#gameContainer {
	position: absolute;
	width : 100%;
	height : 100%;
}

.gameCanvas {
	position: absolute;
	background-color: white;
}

#loading {
	position : absolute;
	text-align: center;
	left : 45%;
	top : 40%;
	font-size : 48px;
	color : #ddd;
	z-index: -3;
}

body {
	margin : 0;
	padding : 0;
	background-color : black;
}